.Logo{
    height: 100%;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    box-sizing: border-box;
}

.Logo img {
    height: 100%;
}

.LogoText {
    margin: 0;
    box-sizing: border-box;
    align-items: center;
    height: 100%;
    display: flex;
}