.SideDrawer{
    width: 280px ;
    max-width: 70% ;
    height:100% ;
    z-index: 200;
    position: fixed;
    background-color: white;
    box-sizing: border-box;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-out;
    padding: 32px 16px;

}

@media (min-width: 500px)
{
    .SideDrawer{
        display: none;
    }
}

    .Open{
        transform:translateX(0) ;
    }

    .Close{
        transform: translateX(-100%);
    }
