.Parent {
    display: table;
    width: 100%;
    height: 100%; 
}

.One {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 100%;
}
.Two {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    height: 100%;
}