.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.InputElement
{
    outline: none;
    background-color: white;
    font: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 10px;
    border: 2px solid rgb(231, 231, 231); 
    border-radius: 4px;
}

.ValidationError {
    color: red;
    font-size: smaller; 
    margin: 0; 
} 