.ContactData
{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px rgb(204, 204, 204);
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    
}