.SignIn {
    text-align: center;
    margin: 150px auto;
    width: 40%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 3px rgb(204, 204, 204);
}

.Error {
    color: red;
}
